
	<footer id="footer">
		<div class="wrapper">
			
			<div class="contact-info">
				<h3 class="title">Barbrothers Taiwan</h3>
				<div class="address">
					No.1, Sec. 2, Xinsheng S. Rd.<br />
					Da'an Dist., Taipei City 1065<br />
					Taiwan (R.O.C.)
				</div>
				
				<a href="mailto:BarbrothersTaiwan@gmail.com">BarbrothersTaiwan@gmail.com</a>
			</div>
			
			<div class="navigation">
				<h3 class="title">navigate</h3>
				<ul>
					<li><%= link_to "about",about_path  %></li>
					<li><%= link_to "forem",root_path  %></li>
					<li><%= link_to "motivation",motivation_path  %></li>
				</ul>
			</div>
			
			<div class="laboratory">
				<h3 class="title">laboratory</h3>
				<ul>
					<li>style guide</li>
					<li>bark PR</li>
					<li>keep SA Real</li>
				</ul>
			</div>
			
			<div class="social-media">
				<ul>
					<li>
						<a href="https://www.youtube.com/channel/UCHlWZQYsWzy0qKjM76XygPw/playlists">
							<i class="icon-youtube"></i>
						</a>
					</li>
					<li>
						<a href="http://websta.me/n/barbrothersdc">
							<i class="icon-instagramm"></i>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/barbrothers_dc">
							<i class="icon-twitter-squared"></i>
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/BarBrothersTaiwan">
							<i class="icon-facebook"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
	
	
	<div class="loading-bar"></div>