
	<%= render 'header' %>
	
	<main id="content">
		<div class="wrapper">
			
			<div id="works-intro">
				<div class="work">
					<img src="http://placehold.it/1200x780" alt="Array" />
					<a href="work-array.html">
						<div class="caption">
							<h2 class="title">Array</h2>
							<div class="subtitle">identity</div>
						</div>
					</a>
				</div>
				<div class="work half-width left">
					<img src="http://placehold.it/1200x780" alt="Keep SA Real" />
					<a href="work-sa-real.html">
						<div class="caption">
							<h2 class="title">Keep SA Real</h2>
							<div class="subtitle">identity + content direction + web design + web development</div>
						</div>
					</a>
				</div>
				<div class="work half-width right">
					<img src="http://placehold.it/1200x780" alt="Written" />
					<a href="work-written.html">
						<div class="caption">
							<h2 class="title">Written</h2>
							<div class="subtitle">identity + content direction + web design</div>
						</div>
					</a>
				</div>
				<div class="work half-width left">
					<img src="http://placehold.it/1200x780" alt="Codeup" />
					<a href="work-codeup.html">
						<div class="caption">
							<h2 class="title">Codeup</h2>
							<div class="subtitle">identity + content direction + web design + web development</div>
						</div>
					</a>
				</div>
				<div class="work half-width right">
					<img src="http://placehold.it/1200x780" alt="Ecamm" />
					<a href="work-ecamm.html">
						<div class="caption">
							<h2 class="title">Ecamm</h2>
							<div class="subtitle">identity + content direction + web design + web development</div>
						</div>
					</a>
					
				</div>
				<div class="work">
					<img src="http://placehold.it/1200x780" alt="We are Pixel8" />
					<a href="work-pixel8.html">
						<div class="caption">
							<h2 class="title">We are Pixel8</h2>
							<div class="subtitle">identity + content direction + web design + web development</div>
						</div>
					</a>
				</div>
			</div>
			
		</div>
	</main>
	
	
	<%= render 'footer' %>