<!DOCTYPE html>
<html>
<head>
  <title>BarbrothersTaiwan</title>
  	<meta charset="UTF-8" />
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>


</head>

<body>

	<%= yield %>

</body>
</html>
